body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.calculator {
    background:#338a76;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
    background: #333;
    color: white;
}

.buttons {
    display: grid;
 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 15px;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background: #575a5b;
    color: white;
    border-radius: 50px;
    transition: 0.2s;
}

button:hover {
    background: #c78989;
}

.zero {
   grid-column: span 2;
}
